<div class="row">
    <div class="col-md-6" style="margin-left: 100px; margin-top: 40px;">

        <div class="gameon" align="center">

            <div class="row text-center">
                <div class="col-md-2">
                    <a class="btn btn-info btn-sq-lg" disabled>
                         Player 02 <br>SUNDAR<br><strong>{{gameBoard[14]}}</strong>
                    </a>
                </div>

                <div class="col-md-8">
                    <div class="row center-block">
                        <a data-ng-click="move(13);" class="btn btn-default btn-circle" style="width: 60px;color: #4287f5">13<br/> <br/><strong>{{gameBoard[13]}}</strong></a>
                        <a data-ng-click="move(12);" class="btn btn-default btn-circle" style="width: 60px;color: #4287f5">12<br/> <br/><strong>{{gameBoard[12]}}</strong></a>
                        <a data-ng-click="move(11);" class="btn btn-default btn-circle" style="width: 60px;color: #4287f5">11<br/> <br/><strong>{{gameBoard[11]}}</strong></a>
                        <a data-ng-click="move(10);" class="btn btn-default btn-circle" style="width: 60px;color: #4287f5">10<br/> <br/><strong>{{gameBoard[10]}}</strong></a>
                        <a data-ng-click="move(9);" class="btn btn-default btn-circle" style="width: 60px;color: #4287f5">9<br/> <br/><strong>{{gameBoard[9]}}</strong></a>
                        <a data-ng-click="move(8);" class="btn btn-default btn-circle" style="width: 60px;color: #4287f5">8<br/> <br/><strong>{{gameBoard[8]}}</strong></a>
                    </div>
                    <br>
                    <div class="row center-block">
                        <a data-ng-click="move(1);" class="btn btn-default btn-circle" style="width: 60px;color: #f56c42">1<br/> <br/><strong>{{gameBoard[1]}}</strong></a>
                        <a data-ng-click="move(2);" class="btn btn-default btn-circle" style="width: 60px;color: #f56c42">2<br/> <br/><strong>{{gameBoard[2]}}</strong></a>
                        <a data-ng-click="move(3);" class="btn btn-default btn-circle" style="width: 60px;color: #f56c42">3<br/> <br/><strong>{{gameBoard[3]}}</strong></a>
                        <a data-ng-click="move(4);" class="btn btn-default btn-circle" style="width: 60px;color: #f56c42">4<br/> <br/><strong>{{gameBoard[4]}}</strong></a>
                        <a data-ng-click="move(5);" class="btn btn-default btn-circle" style="width: 60px;color: #f56c42">5<br/> <br/><strong>{{gameBoard[5]}}</strong></a>
                        <a data-ng-click="move(6);" class="btn btn-default btn-circle" style="width: 60px;color: #f56c42">6<br/> <br/><strong>{{gameBoard[6]}}</strong></a>
                    </div>
                </div>

                <div class="col-md-2 centered">
                	<div class="row center-block"></div><br><br><br><br>
                	<div class="row center-block">
                    <a class="btn btn-info btn-sq-lg" disabled>
                        Player 01 <br>VIVIN<br><strong>{{gameBoard[7]}}</strong>
                    </a>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="col-md-6">
    	<!-- DISPLAYS WHO IS NEXT TO PLAY -->
	    <div class="row center-block" style="margin-left: 100px; margin-top: 5px;">
	        <p style="color:red;">
	            Turn: {{gameTurn.username}}
	        </p>
	    </div>
	    <!-- DISPLAYS CURRENT STATE OF GAME -->
	    <div class="row center-block" style="margin-left: 100px; margin-top: 5px;">
	        <p style="color:blue;" >
	            Status: {{gameState}}
	        </p>
	    </div>
	    <!-- DISPLAYS THE WINNER OF GAME ONCE ITS OVER -->
	    <div class="row center-block" style="margin-left: 100px; margin-top: 5px;" ng-show="IsVisible">
	        <p style="color:blue;" >
	            Winner Of the GAME: {{gameWinner.username}}
	        </p>
	    </div>
   	</div>
   	<!-- VISIBLE ONCE THE GAME IS OVER -->
   	<div class="col-md-8" ng-show="IsVisible" id="homeButton" align="right" style="padding-bottom:50px;">
		<button onClick="window.location='#/';" class="btn btn-md btn-primary" style="width:300px;text-align:center;">
        <span class="glyphicon"></span> Go to Home Page</button>
	</div>
</div>