<div class="container">

    <div class="row" ng-if="errorMessage != null">
        <div class="alert alert-success">{{successMessage}}</div>
    </div>
    <div class="row">
        <!-- FORM for creating new game -->
        <div class="col" align="center">
            <form name="startNewGame" class="form-horizontal" novalidate ng-submit="createNewGame()">

                <div class="form-group">
                    <div  style="padding-bottom:50px">
                        <button type="submit" class="btn btn-md btn-primary" style="width:300px;;text-align:center;" ng-disabled="createNewGame.$invalid">
                        <span class="glyphicon"></span> Start a new Mancala Game</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>